.product-list-container {
    margin-top: 96px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}


.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
    color: #36454F;
  }
  